{{- $p := . -}}
{{- $authors := $p.authors -}}
{{- $star := cond (eq $p.corresponding true) "<sup class=\"corr\">*</sup>" "" -}}
{{- range site.Params.self_names -}}
  {{- $authors = replaceRE (printf `(^|, )(%s)(,|$)` .) (printf "${1}<strong>${2}%s</strong>${3}" $star) $authors -}}
{{- end -}}
<li class="pub">
  <span class="pub-authors">{{ $authors | safeHTML }}</span>
  <span class="pub-year">({{ $p.year }})</span>
  <span class="pub-title">{{ $p.title }}.</span>
  <em class="pub-journal">{{ $p.journal }}</em>{{ with $p.note }} <span class="pub-note">{{ . }}</span>{{ end }}
  {{ with $p.doi }}<a class="pub-doi" href="https://doi.org/{{ . }}" target="_blank" rel="noopener">doi:{{ . }}</a>{{ end }}
</li>
